<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-calculator></app-calculator>-->
<!--<app-boostrap></app-boostrap>-->
<!--<app-new-calculator></app-new-calculator>-->
<!--<app-color-picker-app></app-color-picker-app>-->
<!--<app-article></app-article>-->
<!--<app-footer></app-footer>-->
<!--<app-name-card cardName="..." email="Hoa0509@" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar [progress]="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-one-way-bindding></app-one-way-bindding>-->
<!--<app-two-way-bindding></app-two-way-bindding>-->
<app-customer></app-customer>
<!--<app-ngfor></app-ngfor>-->
<!--<app-navbar></app-navbar>-->
<!--<app-login></app-login>-->
<!--<router-outlet></router-outlet>-->
<!--<app-countdown-timer-app></app-countdown-timer-app>-->
