<!--Bài 1 : front-size-->
<!--<app-font-size-editor></app-font-size-editor>-->
<!--<hr>-->
<!--Bài 2 : Pet-->
<!--<app-pet></app-pet>-->
<!--<hr>-->
<!--Bài 3 : Calculator-->
<!--<app-calculator></app-calculator>-->
<!--<hr>-->
<!--Bài 4 : Boostrap-->
<!--<app-boostrap></app-boostrap>-->
<!--<hr>-->
<!--Bài 5 : Calculary-new-->
<!--<app-new-calculator></app-new-calculator>-->
<!--<hr>-->
<!--Bài 6 : color-->
<!--<app-color-picker-app></app-color-picker-app>-->
<!--<hr>-->
<!--Bài 7 : Article and like-->
<!--<app-article></app-article>-->
<!--<hr>-->
<!--Bài 8 : Navbar-->
<!--<app-footer></app-footer>-->
<!--<hr>-->
<!--<app-name-card cardName="..." email="Hoa0509@" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar [progress]="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<app-todo></app-todo>
